# Configuration
PyYAML==6.0.2

# Machine Learning (NER Model)
torch==2.4.1
transformers==4.46.3

# PDF Processing
pdfminer.six==20240706
Unidecode==1.4.0

# Environment Configuration
python-dotenv==1.0.1

# Core Flask Application
Flask==3.0.3
flask-cors==5.0.0
Werkzeug==3.0.6